@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -----------------------------------------------------------  */

.flyIn {
  opacity: 0;
  animation: flyInAnimation 2s linear forwards;
}

.flyInA {
  opacity: 0;
  animation: flyInAnimation 0.5s linear forwards;
  animation-delay: 2.5s;
}

.flyInB {
  opacity: 0;
  animation: flyInAnimation 0.5s linear forwards;
  animation-delay: 3s;
}

.flyInC {
  opacity: 0;
  animation: flyInAnimation 0.5s linear forwards;
  animation-delay: 3.5s;
}

.flyInD {
  opacity: 0;
  animation: flyInAnimation 2s linear forwards;
  animation-delay: 0.5s;
}

@keyframes flyInAnimation {
  0% {
    transform: translateY(50%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------------------------------------------------ */

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;
  background: #015871;
}

.wave {
  background: url("../public/svg/wave.svg")
    repeat-x;
  position: absolute;
  width: 6400px;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
  top: -168px;
  animation: swell 4s ease infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}

/* -------------------------------------------------------  */

@layer utilities {
  .bg-custom-radial-gradient {
    background: rgb(40, 21, 0);
    background: linear-gradient(
      0deg,
      rgba(40, 21, 0, 1) 0%,
      rgba(0, 0, 0, 1) 90%
    );
  }

  .bg-gamecard {
    background: rgba(78, 51, 25, 0.4);
  }
}

/* ----------------------------- footer ------------------------------- */
.footer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  background-color: #000000;

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* ----------------------------- animation ----------------------------- */
.banner {
  opacity: 0;
  transition: opacity 1s;
}

.banner.fade-in {
  opacity: 1;
}

@keyframes fade-in {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ------------------------------ loader circle animation ------------------------------- */
.ring {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  /* border: 3px solid #3c3c3c; */
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #e58e27;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #e58e27;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #e58e27;
  border-right: 3px solid #e58e27;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.ringSpan {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.ringSpan:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e58e27;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #e58e27;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* ------------- skeleton -------------- */
.animated-background {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(
    to right,
    #694f148f 8%,
    #877272 18%,
    #694f148f 33%
  );
  background-size: 800px 104px;
  height: 12rem;
  position: relative;
}

.animated-background-screenshots {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(
    to right,
    #694f148f 8%,
    #877272 18%,
    #694f148f 33%
  );
  background-size: 800px 104px;
  /* height: 10rem; */
  position: relative;
}

.background-masker {
  background-color: #fff;
  position: absolute;
}

.btn-divide-left {
  top: 0;
  left: 25%;
  height: 100%;
  width: 5%;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

/* ----------------------- Game Detail ----------------------- */
.gameDetail_background-desktop {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6976225083056478) 0%,
    rgba(34, 18, 0, 1) 85%
  );
}

/* ---------------------- Lazy load image ------------------------ */

.lazyLoadImg {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.blur-load {
  background-size: cover;
  background-position: center;
  /* background-color: #00000065; */
}

/* --------------------- loading circle ------------------------- */
.loading-circle{
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #e58e27;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes example {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
